/* Ubicar el logo en el centro de la ventana de navegador*/
body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

div{
  height: 16rem;
  width: 16rem;
  background: radial-gradient(circle at 33% 100%,
                            #fed373 4%,
                            #f15245 30%,
                            #d92e7f 62%,
                            #9b36b7 85%,
                            #515ecf);
  border-radius: 30%;
  position: relative;
}

div:before{
  content: "";
  border: 0.9rem solid #fff;
  border-radius: 30%;
  width: 10rem;
  height: 10rem;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}


/* Usar el mismo css para el seudolemento after
Cambiar:
border-radius: 100%
width: 5rem
height: 5rem. */
div:after{
  content: "";
  border: 0.9rem solid #fff;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}

/* Usar el mismo css para el span
Cambiar
width: 0
height: 0.
top: 5rem
right: 5rem
Quitar bottom y left*/
span{
  content: "";
  border: 0.7rem solid #fff;
  border-radius: 100%;
  width: 0;
  height: 0;
  right: 4.5rem;
  position: absolute;
  margin: auto;
  top: 4.5rem;
}
